.topPanelContainer {
	text-align:left;
	border:1px solid #ccc;
}

.topPanel {
    background-color: white;
    border: 1px solid #ccc;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

.title {
    font-size: xxx-large;
    font-weight: bold;
    text-align:center !important;
    text-shadow: 1px 1px rgb(0, 0, 0);
    color:#888888 !important;
}

.poweredByImage {
	vertical-align: middle;
	margin:12px 8px 8px 0;
}

img {
    border: none;
}

.royalButton{
    font-size: small !important;
    background: #EF001B !important;
    color:rgb(255, 255, 255) !important;
    font-weight: bold !important;
    text-shadow: 2px 2px rgb(0, 0, 0) !important;
    padding: 1em !important;
    margin: 1em !important;
}